.Chat {
    padding: 20px;
    font-family: 'Vazir', sans-serif;
}

.Chat button:hover {
    cursor:pointer;
    background-color: #cc0000;
    color: white;
}

.Chat input {
    border-radius: 5px;
    margin: 5px;
    width: 265px;
}

.Chat button {
    border-radius: 5px;
}

.Chat span#error {
    background-color: #ffcccc;
    color: #cc0000;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border: 1px solid #cc0000;
    border-radius: 5px;
}

.Chat .responsesContainer {
    border-radius: 5px;
    height: 300px;
    border: 1px solid #cccccc;
    text-align: left;
    background-color: #f9f9f9;
    overflow: scroll;
}

.Chat .responses {
    margin: 10px;
    overflow-x: auto;
}

.Chat .responses div {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 10px;
}

.Chat .spinnerContainer {
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center
}

.fadeIn{
     background-color: #ffcccc;
     font-weight: bold;
   width: 100px;
    border: 1px solid #cc0000;
    border-radius: 5px;
     opacity:1;
     transition: opacity 0.5s 0.05s;

}
.fadeOut{
         background-color: #ffcccc;
     font-weight: bold;
    width: 100px;
    border: 1px solid #cc0000;
    border-radius: 5px;    
     opacity:0;
     transition: opacity 0.5s;
}
